<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,496}}</string>
                <key>sourceSize</key>
                <string>{550,496}</string>
            </dict>
            <key>flash01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{463,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,482}}</string>
                <key>sourceSize</key>
                <string>{463,482}</string>
            </dict>
            <key>flash02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{563,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,524}}</string>
                <key>sourceSize</key>
                <string>{563,524}</string>
            </dict>
            <key>flash03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{463,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,495}}</string>
                <key>sourceSize</key>
                <string>{463,495}</string>
            </dict>
            <key>flash04.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,528},{483,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,502}}</string>
                <key>sourceSize</key>
                <string>{483,502}</string>
            </dict>
            <key>flash05.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,528},{525,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,534}}</string>
                <key>sourceSize</key>
                <string>{525,534}</string>
            </dict>
            <key>flash06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,528},{473,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,557}}</string>
                <key>sourceSize</key>
                <string>{473,557}</string>
            </dict>
            <key>flash07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{549,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,521}}</string>
                <key>sourceSize</key>
                <string>{549,521}</string>
            </dict>
            <key>flash08.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1087},{516,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,542}}</string>
                <key>sourceSize</key>
                <string>{516,542}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aec7221413aae6f19fed26c7af5dd96:0b5ec54e0a9b10be0e9dc1b1a9ef7088:ed94ff99ccfdc1a5d4b266f4603472f0$</string>
            <key>textureFileName</key>
            <string>effects.png</string>
        </dict>
    </dict>
</plist>
